.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header{
    font-weight: 600;
    text-align: center;
    font-size: 2.2rem;
}

.register-form{
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    width: 25%;
}

.form-label{
    font-weight: 600
}

.form-label  Input{
    font-weight: bold;
}